
$colorprimary: #01EE55;
$colordefault: #f9f9f9;
$fontprimary: Segoe UI (regular);
$fontsecundary: KREDIT FRONT;

html, body { height: 100%; }
body { margin: 0; font-family: fontprimary, "Helvetica Neue", sans-serif; }


